<template>
    <div class="table">
        <div class="crumbs">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item><i class="el-icon-tickets"></i> 监控url列表</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="container">
            <el-row>
                <el-button type="primary" @click="handleAdd()">
                    新增链接
                </el-button>
            </el-row>
            <el-table :data="tableData" border style="width: 100%" ref="multipleTable" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column prop="status" label="状态" sortable width="150">
                </el-table-column>
                <el-table-column prop="title" label="名称" width="120">
                </el-table-column>
                <el-table-column prop="url" label="url地址" >
                </el-table-column>
                <el-table-column prop="lastScan" label="上次扫描时间" width="180">
                </el-table-column>
                <el-table-column label="操作" width="180">
                    <template slot-scope="scope">
                        <el-button type="success" icon="el-icon-caret-right" @click="handleStart(scope.$index, scope.row)" circle></el-button>
                        <el-button size="small" icon="el-icon-delete" type="danger" @click="handleDelete(scope.$index, scope.row)" circle></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
                <el-pagination @current-change="handleCurrentChange" layout="prev, pager, next" :total="2">
                </el-pagination>
            </div>
        </div>

        <!-- 编辑弹出框 -->
        <el-dialog title="新增链接" :visible.sync="editVisible" width="50%">
            <el-form ref="form" :model="form" label-width="150px">
                <el-form-item label="目标url">
                    <el-input v-model="form.url"></el-input>
                </el-form-item>
                <el-form-item label="名称">
                    <el-input v-model="form.title"></el-input>
                </el-form-item>
                <el-form-item label="请求方法">
                    <el-input v-model="form.method"></el-input>
                </el-form-item>
                <el-form-item label="请求参数">
                    <el-input v-model="form.params"></el-input>
                </el-form-item>
                <el-form-item label="预期返回值">
                    <el-input v-model="form.expect"></el-input>
                </el-form-item>
                <el-form-item label="是否需要登录">
                    <el-switch v-model="form.login"></el-switch>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="editVisible = false">取 消</el-button>
                <el-button type="primary" @click="confirmAdd">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 删除提示框 -->
        <el-dialog title="提示" :visible.sync="delVisible" width="300px" center>
            <div class="del-dialog-cnt">删除不可恢复，是否确定删除？</div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="delVisible = false">取 消</el-button>
                <el-button type="primary" @click="deleteRow">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                url: './static/vuetable.json',
                tableData: [],
                cur_page: 1,
                multipleSelection: [],
                select_cate: '',
                select_word: '',
                del_list: [],
                is_search: false,
                editVisible: false,
                delVisible: false,
                form: {
                    url: '',
                    title: '',
                    method: '',
                    params: '',
                    expect: '',
                    login: false
                },
                idx: -1,
                interval: ''
            }
        },
        created() {
            //this.getData()
            this.getUrlList();
            console.log(socket);
            socket.on('scan_pass', function(id) {
                console.log(id);
            })
        },
        computed: {
            //data() {
            //    return this.tableData.filter((d) => {
            //        let is_del = false;
            //        for (let i = 0; i < this.del_list.length; i++) {
            //            if (d.name === this.del_list[i].name) {
            //                is_del = true;
            //                break;
            //            }
            //        }
            //        if (!is_del) {
            //            if (d.address.indexOf(this.select_cate) > -1 &&
            //                (d.name.indexOf(this.select_word) > -1 ||
            //                    d.address.indexOf(this.select_word) > -1)
            //            ) {
            //                return d;
            //            }
            //        }
            //    })
            //}
        },
        methods: {
            // 分页导航
            handleCurrentChange(val) {
                this.cur_page = val;
                this.getData();
            },
            // 获取 easy-mock 的模拟数据
            getData() {
                // 开发环境使用 easy-mock 数据，正式环境使用 json 文件
                if (process.env.NODE_ENV === 'development') {
                    this.url = '/ms/table/list';
                };
                this.$axios.post(this.url, {
                    page: this.cur_page
                }).then((res) => {
                    this.tableData = res.data.list;
                    console.log(this.tableData);
                })
            },
            getUrlList() {
                this.$axios.get('/api/urls').then((res) => {
                    console.log(res);
                    this.tableData = res.data.data;
                })
            },
            search() {
                this.is_search = true;
            },
            formatter(row, column) {
                return row.address;
            },
            filterTag(value, row) {
                return row.tag === value;
            },
            handleStart(index, row) {
                let url = this.tableData[index];
                console.log(url);
                let me = this;
                if (this.tableData[index].scanning) {
                    this.$message('stop scanning');
                    this.tableData[index].scanning = false;
                    clearInterval(this.interval);
                    event.target.setAttribute('class', 'el-icon-caret-right');
                } else {
                    this.tableData[index].scanning = true;
                    this.$message('start scanning');
                    this.interval = setInterval(function () {
                        me.scan(url._id);
                    }, 3000);
                    event.target.setAttribute('class', 'el-icon-loading');
                }
            },
            scan(id) {
                let me = this;
                me.$axios.get('/api/scan?id='+id).then((res) => {
                    let json = res.data;
                    console.log(res);
                    me.tableData.find(function (elem) {
                        if (elem._id === id) {
                            elem.status = json.status;
                            elem.lastScan = json.time;
                        }
                    })
                })
            },
            handleAdd() {
                this.editVisible = true;
            },
            confirmAdd() {
                let _form = this.form;
                let me = this;
                _form.expect = JSON.stringify(this.form.expect);
                _form.params = JSON.stringify(this.form.params);
                this.$axios.post('/api/url', _form).then(function (res) {
                    console.log(res);
                    if (res.data.error == 0) {
                        me.$message.success('添加链接成功！');
                        me.getUrlList();
                        me.editVisible = false
                    } else {
                        me.$message.error('添加失败，请重新尝试');
                    }
                })
            },
            handleDelete(index, row) {
                this.idx = index;
                this.delVisible = true;
            },
            delAll() {
                const length = this.multipleSelection.length;
                let str = '';
                this.del_list = this.del_list.concat(this.multipleSelection);
                for (let i = 0; i < length; i++) {
                    str += this.multipleSelection[i].name + ' ';
                }
                this.$message.error('删除了' + str);
                this.multipleSelection = [];
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            // 保存编辑
            saveEdit() {
                this.$set(this.tableData, this.idx, this.form);
                this.editVisible = false;
                this.$message.success(`修改第 ${this.idx+1} 行成功`);
            },
            // 确定删除
            deleteRow(){
                this.tableData.splice(this.idx, 1);
                this.$message.success('删除成功');
                this.delVisible = false;
            },
            //test api
            testConnect() {
                this.$axios.get('/api').then((res)=>{
                    console.log(res)
                })
            }
        }
    }

</script>

<style scoped>
    .handle-box {
        margin-bottom: 20px;
    }

    .handle-select {
        width: 120px;
    }

    .handle-input {
        width: 300px;
        display: inline-block;
    }
    .del-dialog-cnt{
        font-size: 16px;
        text-align: center
    }
</style>
